[package]
name = "mpc-driver"
version = "0.3.0"
edition = "2021"
description = "Driver for round-based MPC protocols"
keywords = ["mpc", "tss", "relay", "crypto", "e2ee"]
license = "GPL-3.0"
repository = "https://github.com/tmpfs/mpc-relay"

[features]
gg20 = ["dep:curv-kzen", "dep:paillier", "dep:multi-party-ecdsa"]

[dependencies]
mpc-protocol = { path = "../protocol" }
#mpc-protocol = "0.3"
mpc-relay-client = { path = "../client" }
#mpc-relay-client = "0.3"
thiserror = "1"
#round-based = "0.1"
serde = { version = "1", features = ["derive"] }
sha3 = "0.10"
tracing = "0.1"
tokio = { version = "1", features = ["sync"] }

[dependencies.round-based]
git = "https://github.com/webb-tools/round-based-protocol"

[target.'cfg(not(target_arch = "wasm32"))'.dependencies.curv-kzen]
optional = true
version = "0.10"

[target.'cfg(not(target_arch = "wasm32"))'.dependencies.paillier]
optional = true
version = "0.4.3"
package = "kzen-paillier"

[target.'cfg(not(target_arch = "wasm32"))'.dependencies.multi-party-ecdsa]
optional = true
git = "https://github.com/webb-tools/multi-party-ecdsa"
version = "*"

# WASM

[target.'cfg(target_arch = "wasm32")'.dependencies]
mpc-ecdsa-getrandom-hack = {version = "*"}
getrandom = {version = "0.1.16", features = ["wasm-bindgen"]}
rand = { version="0.6.5", features = ["wasm-bindgen"] }

[target.'cfg(target_arch = "wasm32")'.dependencies.curv-kzen]
optional = true
version = "0.10"
features = ["num-bigint"]
default-features = false

[target.'cfg(target_arch = "wasm32")'.dependencies.paillier]
optional = true
version = "0.4.3"
package = "kzen-paillier"
default-features = false

[target.'cfg(target_arch = "wasm32")'.dependencies.multi-party-ecdsa]
optional = true
git = "https://github.com/webb-tools/multi-party-ecdsa"
default-features = false
version = "*"

[build-dependencies]
rustc_version = "0.4.0"

[package.metadata.docs.rs]
all-features = true
